In [16]:
#import libaries
import numpy as np
import pandas as pd
from pathlib import Path
import yfinance as yf
import hvplot.pandas
%matplotlib inline

In [17]:
#Displaying BTC data
portfolio_btc = pd.read_csv(
    Path("resources/BTC-USD.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)
#displaying the first and last 5 rows for the data
display(portfolio_btc.head())
display(portfolio_btc.tail())

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-05-12,56714.531250,57939.363281,49150.535156,49150.535156,49150.535156,75215403907
2021-05-13,49735.433594,51330.843750,46980.019531,49716.191406,49716.191406,96721152926
2021-05-14,49682.980469,51438.117188,48868.578125,49880.535156,49880.535156,55737497453
2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,59161047474
2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,64047871555

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-05-08,35502.941406,35502.941406,33878.964844,34059.265625,34059.265625,36763041910
2022-05-09,34060.015625,34222.074219,30296.953125,30296.953125,30296.953125,63355494961
2022-05-10,30273.654297,32596.308594,29944.802734,31022.906250,31022.906250,59811038817
2022-05-11,31016.183594,32013.402344,28170.414063,28936.355469,28936.355469,70388855818
2022-05-12,28936.734375,30032.439453,26350.490234,29047.751953,29047.751953,66989173272

In [18]:
#Displaying ETH data
portfolio_eth = pd.read_csv(
    Path("resources/ETH-USD.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)
#displaying the first and last 5 rows for the data
display(portfolio_eth.head())
display(portfolio_eth.tail())

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-11-09,308.644989,329.451996,307.056000,320.884003,320.884003,893249984
2017-11-10,320.670990,324.717987,294.541992,299.252991,299.252991,885985984
2017-11-11,298.585999,319.453003,298.191986,314.681000,314.681000,842300992
2017-11-12,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936
2017-11-13,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-05-08,2636.121826,2638.830566,2498.430176,2517.459961,2517.459961,20802269935
2022-05-09,2518.508301,2528.258057,2238.062744,2245.430420,2245.430420,36333567678
2022-05-10,2242.650391,2450.760254,2206.756836,2343.510986,2343.510986,38202099639
2022-05-11,2342.754150,2441.079346,2018.855591,2072.108643,2072.108643,45743399154
2022-05-12,2072.504639,2170.458008,1748.303101,1961.701538,1961.701538,42463486402

In [19]:
#Displaying BNB data
portfolio_bnb = pd.read_csv(
    Path("resources/BNB-USD.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)
#displaying the first and last 5 rows for the data
display(portfolio_bnb.head())
display(portfolio_bnb.tail())

               Open     High      Low    Close  Adj Close    Volume
Date
2017-11-09  2.05314  2.17423  1.89394  1.99077    1.99077  19192200
2017-11-10  2.00773  2.06947  1.64478  1.79684    1.79684  11155000
2017-11-11  1.78628  1.91775  1.61429  1.67047    1.67047   8178150
2017-11-12  1.66889  1.67280  1.46256  1.51969    1.51969  15298700
2017-11-13  1.52601  1.73502  1.51760  1.68662    1.68662  12238800

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-05-08,365.733002,366.509583,351.143768,355.398743,355.398743,1875845651
2022-05-09,355.377411,358.950714,299.348938,299.348938,299.348938,2943374129
2022-05-10,298.820709,332.438843,290.586792,319.326965,319.326965,3210603809
2022-05-11,319.122772,322.766815,262.620453,269.962769,269.962769,3870618668
2022-05-12,269.888000,283.475128,216.361496,269.407257,269.407257,4739990237

In [20]:
#Displaying XRP data
portfolio_xrp = pd.read_csv(
    Path("resources/XRP-USD.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)
#displaying the first and last 5 rows for the data
display(portfolio_xrp.head())
display(portfolio_xrp.tail())

                Open      High       Low     Close  Adj Close     Volume
Date
2017-11-09  0.217911  0.221791  0.214866  0.217488   0.217488  147916992
2017-11-10  0.218256  0.219068  0.205260  0.206483   0.206483  141032992
2017-11-11  0.205948  0.214456  0.205459  0.210430   0.210430  134503008
2017-11-12  0.210214  0.210214  0.195389  0.197339   0.197339  251175008
2017-11-13  0.197472  0.204081  0.197456  0.203442   0.203442  132567000

                Open      High       Low     Close  Adj Close      Volume
Date
2022-05-08  0.582399  0.582634  0.562757  0.566527   0.566527  1505054300
2022-05-09  0.566519  0.575994  0.480722  0.492940   0.492940  3297478002
2022-05-10  0.492440  0.535299  0.478110  0.513626   0.513626  3455777036
2022-05-11  0.513543  0.521623  0.382426  0.413376   0.413376  5290247987
2022-05-12  0.413399  0.426483  0.344954  0.385206   0.385206  4641055357

In [21]:
#Displaying ADA data
portfolio_ada = pd.read_csv(
    Path("resources/ADA-USD.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)
#displaying the first and last 5 rows for the data
display(portfolio_ada.head())
display(portfolio_ada.tail())

                Open      High       Low     Close  Adj Close    Volume
Date
2017-11-09  0.025160  0.035060  0.025006  0.032053   0.032053  18716200
2017-11-10  0.032219  0.033348  0.026451  0.027119   0.027119   6766780
2017-11-11  0.026891  0.029659  0.025684  0.027437   0.027437   5532220
2017-11-12  0.027480  0.027952  0.022591  0.023977   0.023977   7280250
2017-11-13  0.024364  0.026300  0.023495  0.025808   0.025808   4419440

                Open      High       Low     Close  Adj Close      Volume
Date
2022-05-08  0.762053  0.763869  0.729272  0.739563   0.739563  1085127147
2022-05-09  0.739509  0.753233  0.610088  0.610088   0.610088  2306123277
2022-05-10  0.609972  0.698520  0.590688  0.628963   0.628963  2372592084
2022-05-11  0.628772  0.657571  0.484610  0.512800   0.512800  2692548110
2022-05-12  0.512999  0.545498  0.406529  0.473746   0.473746  2798263564

In [22]:
#Displaying DOGE data
portfolio_doge = pd.read_csv(
    Path("resources/DOGE-USD.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)
#displaying the first and last 5 rows for the data
display(portfolio_doge.head())
display(portfolio_doge.tail())

                Open      High       Low     Close  Adj Close   Volume
Date
2017-11-09  0.001207  0.001415  0.001181  0.001415   0.001415  6259550
2017-11-10  0.001421  0.001431  0.001125  0.001163   0.001163  4246520
2017-11-11  0.001146  0.001257  0.001141  0.001201   0.001201  2231080
2017-11-12  0.001189  0.001210  0.001002  0.001038   0.001038  3288960
2017-11-13  0.001046  0.001212  0.001019  0.001211   0.001211  2481270

                Open      High       Low     Close  Adj Close      Volume
Date
2022-05-08  0.127527  0.128017  0.123974  0.124207   0.124207   728953161
2022-05-09  0.124200  0.125136  0.104824  0.104824   0.104824  1353326367
2022-05-10  0.104708  0.117775  0.100881  0.108477   0.108477  1723066438
2022-05-11  0.108449  0.110565  0.080036  0.084581   0.084581  2556008051
2022-05-12  0.084636  0.089028  0.070037  0.082671   0.082671  2631064083